<div *ngIf="!this.substrateHeight">
    <form [formGroup]="substrateHeightForm" (ngSubmit)="setSubstrateHeight(substrateHeightForm.value)">
        <div class="container">
            <div class="row align-items-center" style="margin-top: 10px;">
                <div class="col-md">
                    <input formControlName="height" placeholder="Введите ширину ткани"> см
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary">Начать</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div *ngIf="this.substrateHeight">
    <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit(checkOutForm.value)">
        <div class="container">
            <!--<app-one-figure-form></app-one-figure-form>-->
            <div class="row align-items-center" style="margin-top: 10px;">
                <div class="col-md">
                    <input disabled formControlName="number" placeholder="Номер детали">
                </div>
                <div class="col-md">
                    <input formControlName="width" placeholder="Длина детали">
                </div>
                <div class="col-md">
                    <input formControlName="height" placeholder="Ширина детали">
                </div>
                <div class="col-md">
                    <input formControlName="count" placeholder="Количество деталей">
                </div>
                <div class="col-md">
                    <button type="submit" class="btn btn-primary">Добавить деталь</button>
                </div>
            </div>
        </div>
    </form>
    <div class="container">
        <div class="row align-items-center" style="margin-top: 3px;" *ngFor="let figure of figures">
            <div class="col-md">Номер детали: {{figure.number}}</div>
            <div class="col-md">Длина: {{figure.width}} см</div>
            <div class="col-md">Ширина: {{figure.height}} см</div>
            <div class="col-md">Кол-во: {{figure.count}}</div>
            <div class="col-md">
                <button class="btn btn-danger btn-sm" (click)="deleteFigure(figure)">&#10008;</button>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <form class="row" [formGroup]="sofaCountForm" (ngSubmit)="calculate(sofaCountForm.value)">
                <div class="col" style="text-align: center;"><p>Введите кол-во диванов: </p></div>
                <div class="col" style="text-align: center;"><input formControlName="count"
                                                                    placeholder="Кол-во диванов"></div>
                <div class="col col-md-2" style="text-align: center;">
                    <button class="btn btn-dark" type="submit">Расчитать</button>
                </div>
            </form>
            <div class="col col-md-2" style="text-align: center;">
                <button class="btn btn-secondary" (click)="clearCanvas()">Очистить</button>
            </div>
        </div>
    </div>
    <div *ngIf="this.calculated">
        Необходимая длина ткани {{packer.getWidth()}} см
    </div>
</div>
