<div class="row align-items-center" style="margin-top: 10px;">
  <div class="col-md">
    <input  formControlName="number" placeholder="Номер детали">
  </div>
  <div class="col-md">
    <input formControlName="width" placeholder="Длина детали">
  </div>
  <div class="col-md">
    <input formControlName="height" placeholder="Ширина детали">
  </div>
  <div class="col-md">
    <input formControlName="count" placeholder="Количество деталей">
  </div>
  <!--<div class="col">-->
  <!--<input name="number" [(NgModel)]="figure.number" placeholder="Номер детали">-->
  <!--</div>-->
</div>
